body {
  background-color: #003488;
  // background-color: #000;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 200px;
}
.inner {
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 144px;
  height: 144px;
  margin: 0 auto;
  border-radius: 50%;
  background: #fff;
}

.img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}
