html,
body {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active {
  color: currentColor;
  text-decoration: none;
}

section {
  margin: 10px;
  padding: 30px;
  border: 1px solid #2a2a2a;

  &+section {
    margin-top: 30px;
  }
}

h1 {
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 20px;
}

h2 {
  background-color: rgb(223, 223, 223);
  font-weight: normal;
  font-size: 17px;
}

div {
  padding: 20px;
}

.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}